services:
  antigravity-manager:
    networks:
      - antigravity-internal
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-public"
      - "traefik.http.routers.antigravity.rule=Host(`${ABV_DOMAIN}`)"
      - "traefik.http.routers.antigravity.entrypoints=websecure"
      - "traefik.http.routers.antigravity.tls=true"
      - "traefik.http.routers.antigravity.tls.certresolver=${TRAEFIK_CERT_RESOLVER:-letsencrypt}"
      - "traefik.http.services.antigravity.loadbalancer.server.port=8045"

networks:
  traefik-public:
    external: true
    name: ${TRAEFIK_PUBLIC_NETWORK:-traefik-public}
